* {
	color: white;
	background-color: black;
}
ul.melodies  {
	position: absolute;
	top: 1000px;
}
li.garbage {
	list-style-type: none;
}
ul.garbage {
	position: absolute;
	top: 210px;
	list-style-type: none;
}
div:active {
	background: orange;
}
.black {
	font-size: 6pt;
	background-color: black;
	border: 1px solid black;		
	height: 120px;
	width: 15px;
	position: absolute;
	top: 0;
	z-Index: 10;
	color: red;
}
.white {
	font-size: 6pt;
	background-color: white;
	border: 1px solid black;		
	height: 200px;
	width: 21px;
	position: absolute;
	top: 0;
	color: red;
}
#note {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	color: white;
	font-size: 120pt;
}
