* {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

textarea {
	width: 100%;
	height: 100%;
}

#output {
	text-align: right;
	overflow-y: scroll;
}

ul.controls li {
	float:left;
	height: 120px;
	width: 16%;
	list-style-type: none;
	text-align: center;
}

ul li {
	float:left;
	height: 50%;
	width: 16%;
	list-style-type: none;
	text-align: center;
}

button {
	width: 100%;
}

button.common {
	width: 16%;
	color: green;	
}

.A {
	color: DarkRed;
	font-weight: bold;
}

.B {
	color: #984600;
	font-weight: bold;
}

.C {
	color: Indigo;
	font-weight: bold;
}

.D {
	color: DarkGreen;
	font-weight: bold;
}

.E {
	color: MidnightBlue;
	font-weight: bold;
}

.I {
	color: blue;
	font-weight: bold;
}